<!DOCTYPE html>
<html>
<head>
  <title>Pay Now</title>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>

<script>
  var options = {
    key: "<%= razorpayKey %>",
    amount: "<%= order.totalAmount * 100 %>",
    currency: "INR",
    name: "Bag",
    description: "Order Payment",
    order_id: "<%= order.razorpay.orderId %>",
    handler: function (response) {
      fetch("/payment/verify", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(response)
      }).then(() => {
        window.location.href = "/orders/success";
      });
    }
  };

  var rzp = new Razorpay(options);
  rzp.open();
</script>

</body>
</html>
